# Environmental variables for all apps

# Gandi vars
GANDIV5_PERSONAL_ACCESS_TOKEN=<YOUR_GANDI_TOKEN>
RECORD_LIST="<YOU_DNS_A_RECORD>"
DOMAIN="<YOUR_TOP_LEVEL_DOMAIN>"

# Nextcloud vars
nc_pgdb_host: <NEXTCLOUD_DATABASE_CONTAINER_NAME>
nc_pgdb_db: <NEXTCLOUD_DATABASE_NAME>
nc_pgdb_user: <NEXTCLOUD_DATABASE_USER_NAME>
nc_pgdb_password: "<NEXTCLOUD_DATABASE_USER_PASSWORD>"
nc_trusted_domains: "<NEXTCLOUD_SPACE_SEPARATED_HOSTNAMES_OF_NEXTCLOUD>"
nc_admin_user: <NEXTCLOUD_APPLICATION_ADMINISTRATOR_NAME>
nc_admin_password: "<NEXTCLOUD_DATABASE_ADMINISTRATORS_PASSWORD>"

# SMTP vars - GOOGLE
smtp_host: "smtp.gmail.com"
smtp_encryption: tls
smtp_port: 587
smtp_authtype: login
smtp_username: "GOOGLE_MAIL_ADDRESS"
smtp_password: "GOOGLE_MAIL_APPLICATION_PASSWORD"
smtp_from_address: "USERNAMCE_MAIL_PART"
smtp_from_domain: "gmail.com"
