volumes:
  nc_app:
  nc_db:

services:
{% if docker.applications.nextcloud.database == 'postgresql' %}
  nc_pgdb:
    image: postgres:{{ docker.applications.nextcloud.database_version }}
    container_name: nc_pgdb
    restart: always
    networks:
      webproxy-backend:
        ipv4_address: "10.254.0.12"
    shm_size: 128mb
    volumes:
      - ./nc_db:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${nc_pgdb_user}
      POSTGRES_PASSWORD: ${nc_pgdb_password}
      POSTGRES_DB: ${nc_pgdb_db}
{% else %}
  nc_mardb:
    image: mariadb:{{ docker.applications.nextcloud.database_version }}
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    networks:
      webproxy-backend:
        ipv4_address: "10.254.0.12"
    volumes:
      - ./nc_db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${nc_mardb_root_password}
      MYSQL_USER: ${nc_mardb_user_name}
      MYSQL_PASSWORD: ${nc_mardb_user_pass}
      MYSQL_DATABASE: ${nc_mardb_db}
{% endif %}

  nc_app:
    image: nextcloud:31.0.14-apache
    container_name: nc_app
    restart: always
    networks:
      webproxy-backend:
        ipv4_address: "10.254.0.13"
    links:
{% if docker.applications.nextcloud.database == 'postgresql' %}
      - nc_pgdb
{% else %}
      - nc_mardb
{% endif %}
    volumes:
      - ./nc_app:/var/www/html
    environment:
      #      APACHE_DISABLE_REWRITE_IP: 1
      TRUSTED_PROXIES: "10.254.254.254"
      OVERWRITEPROTOCOL: "https"
{% if docker.applications.nextcloud.database == 'postgresql' %}
      POSTGRES_HOST: ${nc_pgdb_host}
      POSTGRES_USER: ${nc_pgdb_user}
      POSTGRES_PASSWORD: ${nc_pgdb_password}
      POSTGRES_DB: ${nc_pgdb_db}
{% else %}
      MYSQL_HOST: ${nc_mardb_host}
      MYSQL_DATABASE: ${nc_mardb_db}
      MYSQL_USER: ${nc_mardb_user_name}
      MYSQL_PASSWORD: ${nc_mardb_user_pass}
{% endif %}
      NEXTCLOUD_TRUSTED_DOMAINS: ${nc_trusted_domains}
      NEXTCLOUD_ADMIN_USER: ${nc_admin_user}
      NEXTCLOUD_ADMIN_PASSWORD: ${nc_admin_password}
      SMTP_HOST: ${smtp_host}
      SMTP_SECURE: ${smtp_encryption}
      SMTP_PORT: ${smtp_port}
      SMTP_AUTHTYPE: ${smtp_authtype}
      SMTP_NAME: ${smtp_username}
      SMTP_PASSWORD: ${smtp_password}
      MAIL_FROM_ADDRESS: ${smtp_from_address}
      MAIL_DOMAIN: ${smtp_from_domain}
