http:
  routers:
    jellyfin:
      entryPoints:
        - websecure-ext
        - websecure-int
      rule: "Host(`{{ docker.applications.jellyfin.gandi_host ~ '.' ~ gandi_domain }}`)"
      tls:
        certResolver: {{ docker.applications.jellyfin.acme_certs }}
      service: jellyfin-service

  services:
    jellyfin-service:
      loadbalancer:
        servers:
{% if docker.applications.jellyfin.backend_url is defined %}
          - url: "{{ docker.applications.jellyfin.backend_url }}"
{% else %}
          - url: "http://10.254.0.11:8096"
{% endif %}
