http:
  routers:
    nextcloud:
      entryPoints:
        - websecure-ext
        - websecure-int
      rule: "Host(`{{ docker.applications.nextcloud.gandi_host ~ '.' ~ gandi_domain }}`)"
      tls:
        certResolver: {{ acme_certs }}
      service: nextcloud-service
      middlewares: nextcloud_redirectregex

  services:
    nextcloud-service:
      loadbalancer:
        servers:
          - url: "http://10.254.0.13:80"
            #
            #  middlewares:
            #    nextcloud-headers:
            #      headers:
            #        STSPreload: true
            #        STSSeconds: 15552000

  middlewares:
    nextcloud_redirectregex:
      redirectRegex:
        permanent: true
        regex: "https://(.*)/.well-known/(?:card|cal)dav"
        replacement: "https://$${1}/remote.php/dav"
