global:
  checkNewVersion: true
  sendAnonymousUsage: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/etc/traefik/routing"
    watch: true

api:
  dashboard: true
  insecure: true

entrypoints:
  web-int:
    address: ":80/tcp"
    http:
      redirections:
        entrypoint:
          to: websecure-int
          scheme: https
  websecure-int:
    address: ":443/tcp"
    http:
  web-ext:
    address: ":81/tcp"
    http:
      redirections:
        entrypoint:
          to: websecure-ext
          scheme: https
  websecure-ext:
    address: ":444/tcp"
    http:
  metrics:
    address: ":8088"

certificatesResolvers:
  prod-resolver:
    acme:
      email: {{ email_address }}
      caServer: https://acme-v02.api.letsencrypt.org/directory # production (default)
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: gandiv5
        resolvers:
          - "217.70.187.105:53"
          - "213.167.230.135:53"
          - "173.246.100.153:53"
  stage-resolver:
    acme:
      email: {{ email_address }}
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory # staging (testing)
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: gandiv5
        resolvers:
          - "217.70.187.105:53"
          - "213.167.230.135:53"
          - "173.246.100.153:53"

log:
  level: "INFO"
  filepath: "/var/log/traefik/traefik.log"

accessLog:
  filePath: "/var/log/traefik/access.log"
